body{
  max-width:100vw
}

  a {
    text-decoration: none;
    color: inherit;
  }

  a.support {
	display: block;
	text-align: center;
	text-decoration: none;
	size: 12%, 20px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #ED1A3D;
	background: #ED1A3D;
	color: #fff;
	transition: 0.5s;
    }
  a.support:hover {
	color: #ED1A3D;
	background: #fff;
    }

.main {
    background-image: url(image/background1.png);
    background-position: center center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    box-sizing: border-box;
}

.main2 {
  background-color:#000000;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.container {
    max-width: 100vw;
    position: relative;
    top: 100vh;
    padding: 10px 10px;
    margin: 0px 0px

    
  }
.container2 {
    max-width: 100vw;
    position: relative;
    top: 400px;
    padding: 10px 10px;
    margin: 0px 0px
    
  }
.containerf {
  max-width: 100vw;
  position: relative;
  top: 100vh;
  padding: 0px 0px;
  margin: 0px 0px
  
}
h1{
  font-family: 'Kiwi Maru', serif;
  text-align: center;
  font-size: 80px;
  color:#fff
}
h2{
  padding-top: 40px;
  font-family: 'Kiwi Maru', serif;
  font-size: 40px;
  text-align: center;
  color:#000000;
}
p {
  text-align: center;
  font-family: 'Kiwi Maru', serif;
  font-size: 28px;
  text-decoration: none;
  color:#fff;
}
.intro {
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  color:#000000;
  }
.title2 {
  position: relative;
  top: 150px;
}
@media only screen and (max-width: 768px) {
  h1{
      font-family: 'Kiwi Maru', serif;
      text-align: center;
      font-size: 34px;
    }
  p {
      text-align: center;
      font-family: 'Kiwi Maru', serif;
      font-size: 16px;
      }
  h2{
    padding-top: 0px;
    font-family: 'Kiwi Maru', serif;  
    text-align: center;
    font-size: 34px;
    color:#000000;
    }
  .intro {
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  color:#000000;
  }
  .main2 {
    background-color:#000000;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
  }
  .container2 {
    max-width: 100vw;
    position: relative;
    top: 200px;
    margin: 10px 0px
    
  }
  .title2 {
    position: relative;
    top: 120px;
  }
}
section {
    padding: 95% 0px;
}

hr {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
}


.title {
  position: relative;
  top: 45vh;
}

.box {
  padding: 5px 5px;
  border: solid 3px #000000;
  margin: 0; 
  text-align: center;
  font-family: 'Kiwi Maru', serif;
  font-size: 20px;
}

.button2 {	
  display: block;
  position: relative;
  width: 280px;
  padding: 0.8em;
  text-decoration: none;
  margin: 10px auto;
  text-align: center;
  color: #1B1B1B;
  background: #fff;
  border:1px solid #1B1B1B;
}
.button2:hover { 
  background: #1B1B1B;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}


.footer {
  font-size: 15px;
  color: #fff;
  background: #1d1e22;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.copyright {
  font-size: 15px;
  margin: 10px 10px;
}

@media (min-width: 768px) {
  .md-flex {
    display: flex;
  }

  .md-justify-between {
    justify-content: space-between;
  }

  .copyright {
    text-align: left;
  }
}
